*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Constants.java
app.zip
app/libs/
app/src.zip
app/src/main/java/jforde/popularmovies/Constants.java
app/src/main/java/jforde/popularmovies/db/
app/src/main/res/data/
app/src/main/res/drawable/drawable-hdpi/
app/src/main/res/drawable/drawable-mdpi/
app/src/main/res/drawable/drawable-xhdpi/
app/src/main/res/drawable/drawable-xxhdpi/
app/src/main/res/drawable/ic_sort_black_36dp.png
app/src/main/res/layout/movie_detail.xml
app/src/main/res/layout/top_movies_fragment.xml
app/src/main/res/menu/sample_actions.xml
app/src/main/res/mipmap-hdpi/clapperboard.png
app/src/main/res/mipmap-hdpi/ic_sort_black_48dp.png
